.mat-card-avatar{
    font-size: 24px;
  }
  mat-form-field.mat-form-field {
    font-size: 20px;
  }
  .main-container{
    height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .login{
    background-color: #ffa000;
  }
  .register{
    background-color:green;
  }
  .mat-hint{
    color:red;
  }
  .mat-raised-button{
    height: 3rem;
    width: 16rem;
  }
  .mat-form-field{
    width: 100%;
  }
  .mat-card{
    width: 35rem;
    background-color:#fafafa;
  }
  .actions{
    margin-top: 2rem;
    text-align: center;
  }
  .excercises{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  p{
    overflow-wrap: anywhere;
  }