<div class="main">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome, folks from Vinted!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        I did not really have a personal website, so I though I will create one about my other passion - Weight lifting.
        So I came up with idea to create a tracker which could be used track progress and log specific information like what kind of training I did,
        how many times did I do the exercise and so on. I chosed three technologies: MongoDb, Nodejs and Angular. For authentification, I used jsonwebtoken.<br/>
        -Ainis
      </p>
    </mat-card-content>
    <img class='angular' mat-card-image src="../../../assets/pictures/angular.png" alt="Angular">
    <img class='mongodb' mat-card-image src="../../../assets/pictures/mongodb.jpeg" alt="MongoDb">
    <img class='nodejs' mat-card-image src="../../../assets/pictures/nodejs.png" alt="NodeJs">
    <mat-card-actions>
      <button mat-raised-button [routerLink]="[ '/login']">Continue</button>
    </mat-card-actions>
  </mat-card>
</div>
